





/*自定义样式*/
body{
  margin-top: 50px;
}
.navbar-brand{
  width: 62px;
  background:url("../img/hdr-spr.png") no-repeat 0 -508px;
}
.navbar-default .container .navbar-header .navbar-toggle{
  background: url("../img/hdr-spr.png") no-repeat 0 -258px");
}
.logo-menu{
  width: 400px;
  padding: 16px;
}
.main > .container > .row{
  margin-bottom: 25px;
}
.main > .container > .row > .col-md-8 > div{
  margin-top: -150px;
  margin-left: 30px;
  margin-right: 30px;
  color: #fff;
  height: 130px;
}
.main > .container > .row > .col-md-4 > .row >div:first-child{
  margin-bottom: 18px;
}
.media-height{
  display:table-cell;
  vertical-align:middle;
}
.media-height ul{
  padding-left: 15px;
  border-left: 1px solid #fff;
}
.media-height li{
  margin: 10px 0;
}
.media-height li a{
  color: #fff;
  font-size: 15px;
  text-align: left;
}
.media-left{
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 30px;
}
.ulstyle{
  display: block;
}
.ulstyle ul{
  border: none;
  padding-top: 18px;
}
@media screen and (min-width: 992px) {
  .media-height{
    height: 202px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .media-height{
    height: 196px;
  }
}
@media screen and (max-width: 767px) {
  .main > .container > .row > .col-md-8 > div{
    margin-top: -20px;
    margin-bottom: 30px;
    width: auto;
    padding: 15px 30px 0 30px;
    height: 170px;
    background-color: #2e6da4;
  }
  .media-height{
    height: 207px;
  }
}

.li1 span{
  width: 25px;
  height: 20px;
  display: block;
  float: left;
  background-image:url(../img/social_sprite_smushed.png) ;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.li2 span,.li3 span,.li4 span{
  width: 25px;
  height: 20px;
  display: block;
  float: left;
  background-image:url(../img/social_sprite_smushed.png) ;
  background-position: 0 -770px;
  background-repeat: no-repeat;
}
footer > .container > .row > .col-md-6 > .row > .col-sm-6 >ul >li{
  margin-top: 14px;
}
footer > .container > h6 > span{
  width: 40px;
  height: 20px;
  display: block;
  margin-top: -4px;
  background: url("../img/logo.png") no-repeat;
  float: left;
}
footer > .container > h6{
  color: #999;
}
.huitem{
  display: block;
  height: 40px;
  margin-top: -50px;
  color: #fff;
  background-color: #000;
  opacity: 0.7;
}
